<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Authenticated Webapp</title>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 15px;
    }

    a {
      background-color: white;
      color: black;
      border: 2px solid #4CAF50;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-left: 20px;
    }
  </style>
</head>

<body>
  <h1 style="color: blue">Hello {{ username }}, welcome to the Authentication Demo!</h1>
  <p>This token is valid until: {{ valid_until_utc }}</p>
  <h2>JWT content</h2>
  <h3>Decoded</h3>
  <pre>{{ jwt_decoded }}</pre>
  <h3>Encoded</h3>
  <pre>{{ jwt_encoded }}</pre>
  <hr/>
  <h2>User ID</h2>
  <span>{{ identity }}</span>
  <h2>Cognito Access Token</h2>
  <pre>{{ access_token }}</pre>
  <h2>Meta</h2>
  <span>You're currently being served from host {{hostname}}.</span><br/>
  <a href="/userinfo">User Info</a>
  <a href="/logout">Logout</a>
</body>

</html>