<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User Info</title>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    a {
      background-color: white;
      color: black;
      border: 2px solid #4CAF50;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-left: 20px;
    }
  </style>
</head>

<body>
  <h1>User Info</h1>
  <p>This is the response from calling the Cognito User Info endpoint</p>
  <h2>Request Info</h2>
  <h3>Endpoint URL</h3>
  <pre>{{ url }}</pre>
  <h3>Access Token</h3>
  <pre>{{ access_token }}</pre>
  <hr/>
  <h2>Response</h2>
  <pre>{{ user_info }}</pre>
  <h2>Meta</h2>
  <a href="/">Home</a>
  <a href="/logout">Logout</a>
</body>

</html>